﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1707 {
  position:absolute;
  left:0px;
  top:40px;
}
#u1707_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:960px;
  height:320px;
  background-image:none;
}
#u1707_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:320px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:320px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:10px;
  width:110px;
  height:20px;
}
#u1710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1710_input:disabled {
  color:grayText;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:40px;
  width:110px;
  height:20px;
}
#u1711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1711_input:disabled {
  color:grayText;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:70px;
  width:110px;
  height:20px;
}
#u1712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:100px;
  width:65px;
  height:20px;
}
#u1713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1713_input:disabled {
  color:grayText;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:133px;
  width:40px;
  height:20px;
}
#u1714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:165px;
  width:840px;
  height:60px;
}
#u1715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:235px;
  width:840px;
  height:25px;
}
#u1716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:10px;
  width:180px;
  height:20px;
}
#u1717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1717_input:disabled {
  color:grayText;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:40px;
  width:400px;
  height:20px;
}
#u1718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1718_input:disabled {
  color:grayText;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:10px;
  width:80px;
  height:20px;
}
#u1719_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1719_input:disabled {
  color:grayText;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:10px;
  width:90px;
  height:20px;
}
#u1720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:70px;
  width:100px;
  height:20px;
}
#u1721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:100px;
  width:100px;
  height:20px;
}
#u1722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:70px;
  width:50px;
  height:20px;
}
#u1723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1723_input:disabled {
  color:grayText;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:100px;
  width:50px;
  height:20px;
}
#u1724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1724_input:disabled {
  color:grayText;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:70px;
  width:90px;
  height:20px;
}
#u1725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:100px;
  width:90px;
  height:20px;
}
#u1726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:133px;
  width:214px;
  height:20px;
}
#u1727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:133px;
  width:250px;
  height:20px;
}
#u1728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:278px;
  width:170px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:40px;
  width:90px;
  height:20px;
}
#u1731_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1731_input:disabled {
  color:grayText;
}
#u1732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:10px;
  width:72px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:36px;
  width:62px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:67px;
  width:67px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:103px;
  width:84px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:136px;
  width:86px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:189px;
  width:65px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:241px;
  width:68px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:136px;
  width:86px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:7px;
  width:118px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:43px;
  width:104px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u1752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:66px;
  width:112px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:97px;
  width:116px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:74px;
  width:84px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:104px;
  width:84px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:74px;
  width:70px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:104px;
  width:70px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:7px;
  width:71px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:14px;
  width:61px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:37px;
  width:52px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:136px;
  width:102px;
  height:13px;
  font-size:10px;
  text-align:right;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
