﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:953px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:722px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:722px;
  color:#FF0000;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:353px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:960px;
  height:50px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:0px;
  width:128px;
  height:50px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:10px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:10px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:10px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:10px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:230px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:960px;
  height:230px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:107px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:960px;
  height:1px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:60px;
  width:130px;
  height:20px;
}
#u1213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:120px;
  width:130px;
  height:20px;
}
#u1214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:90px;
  width:350px;
  height:20px;
}
#u1215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1215_input:disabled {
  color:grayText;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:56px;
  width:73px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:94px;
  width:66px;
  height:12px;
  font-size:9px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:116px;
  width:69px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:60px;
  width:80px;
  height:20px;
}
#u1222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:120px;
  width:130px;
  height:20px;
}
#u1223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:116px;
  width:61px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:56px;
  width:53px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:60px;
  width:90px;
  height:20px;
}
#u1228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:90px;
  width:100px;
  height:20px;
}
#u1229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:120px;
  width:350px;
  height:20px;
}
#u1230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:58px;
  width:86px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:86px;
  width:77px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:116px;
  width:64px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:60px;
  width:100px;
  height:20px;
}
#u1237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:60px;
  width:115px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:89px;
  width:77px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:90px;
  width:90px;
  height:20px;
}
#u1242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:960px;
  height:30px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:154px;
  width:217px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:190px;
  width:220px;
  height:20px;
}
#u1247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:250px;
  width:220px;
  height:20px;
}
#u1248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:190px;
  width:178px;
  height:20px;
}
#u1249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:220px;
  width:200px;
  height:20px;
}
#u1250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:250px;
  width:85px;
  height:20px;
}
#u1251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:190px;
  width:138px;
  height:20px;
}
#u1252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:250px;
  width:250px;
  height:20px;
}
#u1253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:220px;
  width:220px;
  height:20px;
}
#u1254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1254_input:disabled {
  color:grayText;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:188px;
  width:81px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:218px;
  width:48px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:246px;
  width:82px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:194px;
  width:56px;
  height:12px;
  font-size:9px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:216px;
  width:67px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:246px;
  width:70px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:186px;
  width:90px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:216px;
  width:130px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:246px;
  width:117px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:960px;
  height:1px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:288px;
  width:160px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1275_ref {
  border-width:0px;
  position:absolute;
  left:312px;
  top:306px;
  width:1px;
  height:1px;
}
#u1277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:160px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1277_ref {
  border-width:0px;
  position:absolute;
  left:152px;
  top:306px;
  width:1px;
  height:1px;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:288px;
  width:160px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1279_ref {
  border-width:0px;
  position:absolute;
  left:472px;
  top:306px;
  width:1px;
  height:1px;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:288px;
  width:160px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1281_ref {
  border-width:0px;
  position:absolute;
  left:632px;
  top:306px;
  width:1px;
  height:1px;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:293px;
  width:1px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:224px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:313px;
  width:1px;
  height:223px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:596px;
  width:960px;
  height:157px;
  overflow:hidden;
}
#u1287_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:157px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1287_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:960px;
  height:30px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:89px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:956px;
  height:93px;
}
#u1292_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:93px;
  overflow:scroll;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:38px;
  width:117px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:38px;
  width:121px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:38px;
  width:151px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:38px;
  width:50px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:38px;
  width:109px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:38px;
  width:185px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u1305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:70px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:100px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:70px;
  width:169px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:100px;
  width:158px;
  height:26px;
  font-size:10px;
  color:#999999;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:70px;
  width:165px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:100px;
  width:145px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:70px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:100px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:70px;
  width:145px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:100px;
  width:165px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:70px;
  width:37px;
  height:13px;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:100px;
  width:37px;
  height:13px;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:11px;
  width:10px;
  height:10px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:9px;
  width:15px;
  height:15px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:223px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:313px;
  width:1px;
  height:222px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:103px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:19px;
  width:24px;
  height:13px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:16px;
  width:19px;
  height:18px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:19px;
  width:28px;
  height:13px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:16px;
  width:18px;
  height:18px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:190px;
  width:5px;
  height:20px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:190px;
  width:22px;
  height:20px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:190px;
  width:22px;
  height:20px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:254px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:313px;
  width:1px;
  height:253px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:118px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:316px;
  width:960px;
  height:280px;
  overflow:hidden;
}
#u1353_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u1353_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:281px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:281px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:940px;
  height:60px;
}
#u1356_input {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:170px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:170px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:10px;
  width:134px;
  height:20px;
}
#u1359_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1359_input:disabled {
  color:grayText;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:40px;
  width:50px;
  height:20px;
}
#u1360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1360_input:disabled {
  color:grayText;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:40px;
  width:49px;
  height:20px;
}
#u1361_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1361_input:disabled {
  color:grayText;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:10px;
  width:250px;
  height:20px;
}
#u1362_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:40px;
  width:250px;
  height:20px;
}
#u1363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:97px;
  width:764px;
  height:60px;
}
#u1364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:10px;
  width:106px;
  height:20px;
}
#u1365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1365_input:disabled {
  color:grayText;
}
#u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:109px;
  height:26px;
  font-size:10px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:7px;
  width:86px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:37px;
  width:155px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:44px;
  width:172px;
  height:13px;
  font-size:10px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:7px;
  width:164px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:37px;
  width:164px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u1378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:103px;
  width:89px;
  height:39px;
  font-size:10px;
  text-align:right;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:960px;
  height:30px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:186px;
  width:455px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  white-space:nowrap;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:222px;
  width:144px;
  height:15px;
  font-size:12px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:247px;
  width:378px;
  height:15px;
  font-size:12px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  white-space:nowrap;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:7px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:192px;
  width:20px;
  height:7px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:960px;
  height:10px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:70px;
  width:277px;
  height:20px;
}
#u1392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1392_input:disabled {
  color:grayText;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:70px;
  width:250px;
  height:20px;
}
#u1393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1393_input:disabled {
  color:grayText;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:67px;
  width:184px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:67px;
  width:101px;
  height:26px;
  font-size:10px;
  text-align:right;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:188px;
  width:15px;
  height:15px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:220px;
  width:160px;
  height:20px;
}
#u1400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:165px;
  height:10px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:316px;
  width:160px;
  height:5px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:59px;
  width:19px;
  height:23px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:250px;
  width:19px;
  height:23px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
