﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:953px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:722px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:722px;
  color:#FF0000;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:353px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:960px;
  height:50px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:0px;
  width:128px;
  height:50px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:10px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u1415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:10px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u1417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:10px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:10px;
  width:190px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u1421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:230px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:960px;
  height:230px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:107px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:960px;
  height:1px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:60px;
  width:130px;
  height:20px;
}
#u1425_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:120px;
  width:130px;
  height:20px;
}
#u1426_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:90px;
  width:350px;
  height:20px;
}
#u1427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1427_input:disabled {
  color:grayText;
}
#u1428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:56px;
  width:73px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:94px;
  width:66px;
  height:12px;
  font-size:9px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:116px;
  width:69px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:60px;
  width:130px;
  height:20px;
}
#u1434_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:120px;
  width:130px;
  height:20px;
}
#u1435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:116px;
  width:61px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:56px;
  width:53px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:60px;
  width:90px;
  height:20px;
}
#u1440_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:90px;
  width:100px;
  height:20px;
}
#u1441_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:120px;
  width:350px;
  height:20px;
}
#u1442_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:58px;
  width:86px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u1445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:86px;
  width:77px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:116px;
  width:64px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:60px;
  width:100px;
  height:20px;
}
#u1449_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:58px;
  width:122px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u1452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:86px;
  width:77px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:90px;
  width:90px;
  height:20px;
}
#u1454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:960px;
  height:30px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:154px;
  width:217px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:190px;
  width:220px;
  height:20px;
}
#u1459_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:250px;
  width:220px;
  height:20px;
}
#u1460_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:190px;
  width:178px;
  height:20px;
}
#u1461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:220px;
  width:200px;
  height:20px;
}
#u1462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:250px;
  width:85px;
  height:20px;
}
#u1463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:190px;
  width:138px;
  height:20px;
}
#u1464_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:220px;
  width:160px;
  height:20px;
}
#u1465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:250px;
  width:250px;
  height:20px;
}
#u1466_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:220px;
  width:220px;
  height:20px;
}
#u1467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1467_input:disabled {
  color:grayText;
}
#u1468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:196px;
  width:58px;
  height:12px;
  font-size:9px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:218px;
  width:48px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:246px;
  width:82px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:194px;
  width:56px;
  height:12px;
  font-size:9px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:216px;
  width:67px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:246px;
  width:70px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:186px;
  width:90px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:216px;
  width:103px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:right;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:246px;
  width:117px;
  height:24px;
  font-size:9px;
  text-align:right;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:960px;
  height:1px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:288px;
  width:160px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  word-wrap:break-word;
}
#u1488_ref {
  border-width:0px;
  position:absolute;
  left:312px;
  top:306px;
  width:1px;
  height:1px;
}
#u1490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:160px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1490_ref {
  border-width:0px;
  position:absolute;
  left:152px;
  top:306px;
  width:1px;
  height:1px;
}
#u1492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:288px;
  width:160px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  word-wrap:break-word;
}
#u1492_ref {
  border-width:0px;
  position:absolute;
  left:472px;
  top:306px;
  width:1px;
  height:1px;
}
#u1494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:288px;
  width:160px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u1494_ref {
  border-width:0px;
  position:absolute;
  left:632px;
  top:306px;
  width:1px;
  height:1px;
}
#u1496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:293px;
  width:1px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:565px;
  width:960px;
  height:1px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:595px;
  width:960px;
  height:30px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:568px;
  width:199px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:625px;
  width:956px;
  height:93px;
}
#u1504_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:93px;
  overflow:scroll;
}
#u1505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:603px;
  width:117px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:603px;
  width:121px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u1509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:603px;
  width:151px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u1511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:603px;
  width:50px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:603px;
  width:109px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:603px;
  width:185px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u1517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:635px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:665px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:635px;
  width:169px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:665px;
  width:158px;
  height:26px;
  font-size:10px;
  color:#999999;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:635px;
  width:165px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:665px;
  width:145px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:635px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:665px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:635px;
  width:145px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:665px;
  width:165px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:635px;
  width:37px;
  height:13px;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:665px;
  width:37px;
  height:13px;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:224px;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:313px;
  width:1px;
  height:223px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:2px;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:960px;
  height:1px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:223px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:313px;
  width:1px;
  height:222px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:103px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:19px;
  width:24px;
  height:13px;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:16px;
  width:19px;
  height:18px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:19px;
  width:28px;
  height:13px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:16px;
  width:18px;
  height:18px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:190px;
  width:5px;
  height:20px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:190px;
  width:22px;
  height:20px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
#u1559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:190px;
  width:22px;
  height:20px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(215, 215, 215, 0.647058823529412);
}
